/* ==== TAG TEMPLATES ==== */
body {
	background-color: #f4f4f4;
	font-family: "Open Sans", "Helvetica", "Calibri", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 160%;
}

h1, h2 {
	color: #0c4a96;
	font-family: "PT Serif", "Baskerville", "Georgia", "Times New Roman", sans-serif;
	font-style: normal;
	font-weight: 300;
	margin: 15px 0px 15px 0px;
}

h1 { font-size: 24px; text-align: center; }
h2 { font-size: 18px; font-style: oblique; }

a, a:visited {
	color: #0c4a96;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 7px;
}

/* ==== LAYOUT ELEMENTS ==== */
/**
 * Top menubar, always in the same place.
 */
#menubar {
	background-color: rgba(0, 0, 0, .80);
	border-radius: 20px;
	left: 24px;
	padding: 12px;
	position: fixed;
	right: 24px;
	text-align: center;
	top: 10px;
	z-index: 5;
}
#menubar * {
	margin-right: 15px;
}
#menubar a, #menubar a:visited {
	color: #ddd;
}
#menubar a:hover {
	color: #fff;
}
#menubar a:last-child {
	margin-right: 0px;
}

#spacer {
	height: 60px;
}

/* ==== UTILITY CLASSES ==== */
/**
 * For quick text aligning.
 */
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

/**
 * Descriptive figure with a border. Does not support captions.
 */
.figure {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	margin: 10px 0px 20px 0px;
	max-width: 80%;
	padding: 20px;
}

/**
 * Centers elements inside a central column with lateral padding.
 */
.inside {
	box-sizing: border-box;
	margin: auto;
	max-width: 1000px;
	padding: 0px 15px;
}

/**
 * Gives every other element a slightly darker background and borders.
 * Used for separating articles.
 */
.zebra:nth-child(even) {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}