.bio {
	text-align: center;

	img {
		max-width: 480px;
		width: 100%;
	}

	p {
		text-align: left;
	}
}

#team-tabs {
	font-size: 28px;
	text-align: center;

	.active {
		font-weight: bold;
	}
}

a.teamGroup {
	background-color: #ccc;
	color: black;
	padding: 5px 8px;

	&.selected {
		background-color: #333;
		color: white;
		text-decoration: none;
	}
}